{% extends "shop/base.html" %}
{% load i18n static %}

{% block title %}
{% if category %}{{ category.name }}{% else %}{% translate 'Products' %}{% endif %}
{% endblock %}

{% block content %}

<div class="container">
    <div class="main-layout">
        <section class="sidebar">
            <h3 class="sidebar__title">{% translate 'Categories' %}</h3>
            <ul class="sidebar__list">
                <li class="sidebar__item {% if not category %} sidebar__item--selected {% endif %}">
                    <a href="{% url 'shop:product_list' %}" class="sidebar__link">
                        {% translate 'All' %}
                    </a>
                </li>

                {% for c in categories %}
                <li class="sidebar__item {% if category.slug == c.slug %} sidebar__item--selected {% endif %}">
                    <a href="{{ c.get_absolute_url }}" class="sidebar__link">
                        {{ c.name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </section>

        <section class="content">
            <h1 class="content__title">
                {% if category %}
                {{ category.name }}
                {% else %}
                {% translate 'Products' %}
                {% endif%}</h1>

            <div class="product-list">
                {% for product in products %}
                <article class="product-card">
                    <a href="{{ product.get_absolute_url }}" class="product-card__link">
                        <img class="product-card__img"
                            src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}"
                            alt="{{ product.name }}">
                        <h3 class="product-card__name">{{ product.name }}</h3>
                        <p class="product-card__price">${{ product.price }}</p>
                    </a>
                </article>
                {% endfor %}
            </div>
        </section>
    </div>
</div>

{% endblock %}