@import url(//fonts.googleapis.com/css?family=Ubuntu);

/* Default */

body {
    font-family: helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
}

img {
    max-width: 100%;
    border-radius: 10px;
}

.main-img {
    width: 180px;
}

[class$="--neg"] {
    color: #d32f2f;
    font-weight: bold;
}

[class$="--num"] {
    font-weight: bold;
}

[class$="--subtotal"] {
    background: #ccc;
}

[class$="--label"] {
    background: #5993bb;
    color: #fff;
    font-weight: bold;
}

[class$="--selected"] {
    background: #5993bb;
    color: #fff !important;
    border-radius: 6px;
    padding: 4px 12px;
    font-weight: bold;
    box-shadow: 0 2px 8px rgba(89, 147, 187, 0.15);
    transition: background 0.2s;
}

.main-title {
    margin: 20px 0;
}

.container {
    box-sizing: border-box;
    max-width: 1400px;
    margin: 0 15px;
}

a {
    text-decoration: none;
    color: #5993bb;
}

a:hover {
    opacity: 0.8;

}

a.button,
input[type="submit"] {
    color: #fff;
    background: #5993bb;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 14px;
    border: 0;
    cursor: pointer;
}

input:hover {
    opacity: 0.8;
}

a.button.light {
    color: #3c3c3c;
    background: #c9c9c9;
}

/* Header */

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.header {
    padding: 15px 0;
    font-size: 18px;
}

.header__logo {
    font-family: 'Ubuntu', sans-serif;
    color: #222;
    font-size: 24px;
}

/* Languages */

.header__languages {
    display: flex;
    align-items: center;
}

.header__languages-title {
    margin: 0;
}

.header__languages-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header__languages-item {
    margin: 0 0 0 10px;
    font-size: 14px;
}

/* Subheader */

.subheader {
    background: #5993bb;
    color: #111;
    padding: 16px 0;
}

.subheader__cart {
    display: flex;
    justify-content: end;
    align-items: center;
}

.subheader__cart-link {
    color: #ffffff;
    margin-left: 5px;
}

.subheader h2 {
    font-size: 18px;
}

/* Main */

.main-layout {
    display: flex;
    gap: 20px;
}

/* Content */

.content__title {
    text-align: left;
    margin: 25px 0 30px;
}

.content {
    flex: 1;
    margin-left: 0;
}

/* Sidebar */

.sidebar {
    width: 220px;
    margin-top: 40px;
}

.sidebar__title {
    padding-bottom: 21px;
}

.sidebar ul {
    margin: 0;
    padding: 0;
}

.sidebar ul li {
    margin: 0;
    list-style: none;
    padding: 10px 14px;
}

.sidebar a {
    display: block;
}

.sidebar__selected {
    background: #5993bb;
    border-radius: 10px;
}

.sidebar__selected a {
    color: #fff;
}

/* Product list */

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-list__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 1.2;

    padding-bottom: 15px;
    min-width: 200px;
    max-width: 32%;
    box-sizing: border-box;
}

.product-list__img {
    height: 200px;
    width: 370px;
    object-fit: cover;

    transition: all 0.3s ease-in-out;
    transform: translateY(0) scale(1);
}

.product-list__img:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    z-index: 10;
}

.product-list__name {
    padding-top: 10px;
}

/* Product detail */

.product-detail {
    text-align: justify;
    display: flex;
    justify-content: space-between;
}

.product-detail__desc {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    justify-content: flex-start;
}

.product-detail__price {
    color: #222;
    font-size: 28px;
    font-weight: bold;
}

.product-detail__action form {
    display: flex;
    align-items: center;
}

.product-detail__action input[type="submit"] {
    margin-left: 10px;
}

.product-detail__img {
    width: 35%;
    margin: 20px 20px 0 0;
    object-fit: cover;
    border-radius: 15px;
}

/* Cart and table */

table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.order-summary__head,
.cart-table__row {
    text-align: left;
}

.order-summary__cell,
.cart-table__cell {
    font-size: 14px;
    padding: 10px;
}

.cart-summary__row-num {
    text-align: right;
}

td input[type="submit"] {
    font-size: 12px;
    padding: 4px 10px;
}

.cart__actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
    gap: 5px;
}

.coupon-wrapper {
    margin-top: 30px;
    padding: 20px;
    background: #f8f8f8;
    border-radius: 10px;
}

.coupon-wrapper__form {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Order and form */

.order-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    gap: 400px;
}

.order-wrapper__title,
.order-created__title {
    margin: 20px 0;
}

.order-wrapper__info {
    width: 400px;
    height: 200px;
    background: #efefef;
    padding: 10px 20px;
    color: #333;
    border-bottom: 4px solid #5993bb;
}

.order-wrapper__info-title {
    color: #5993bb;
}

.order-wrapper__info span {
    float: right;
}

.order-wrapper__info-total {
    font-weight: bold;
    float: right;
}

.order-total-row {
    background: #5993bb;
    color: #fff;
    font-weight: bold;
}

form p label,
form p input {
    float: left;
    clear: both;
    font-size: 14px;
}

form p label {
    padding-bottom: 4px;
}

form p input {
    width: 500px;
    margin-bottom: 10px;
    padding: 10px 12px;
    border: 0;
    background: #efefef;
    color: #111;
    border-radius: 4px;
}

.order-summary__form {
    margin-top: 30px;
    padding: 20px;
    background: #f8f8f8;
    border-radius: 10px;
}

/* Payment completed/canceled */

.order-canceled,
.order-completed {
    text-align: center;
}

/* Recommendations */

.product-recommendations {
    margin: 20px 0;
}

.product-recommendations__title {
    margin-bottom: 20px;
}

.product-recommendations__list {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.product-recommendations__img {
    width: 300px;
    height: 175px;
}