{% extends 'shop/base.html' %}
{% load static %}

{% block title %}
Checkout
{% endblock %}

{% block content %}

<div class="container">
    <div class="order-wrapper">
        <div class="order-columns-wrapper">
            <h1 class="order__title">Checkout</h1>
            <form method="post" class="order__form">
                {{ form.as_p }}
                <p><input type="submit" value="Place order"></p>
                {% csrf_token %}
            </form>
        </div>
        <div class="order-info-wrapper">
            <h3 class="order-info__title">Your order</h3>
            <ul>
                {% for item in cart %}
                <li>
                    {{ item.quantity }}x {{ item.product.name}}
                    <span>${{ item.total_price }}</span>
                </li>
                {% endfor %}
            </ul>
            <p class="order-info__total">Total: ${{ cart.get_total_price }}</p>
        </div>
    </div>
</div>
</div>

{% endblock %}