{% load i18n %}
<html>

<body>
    <div class="invoice">
        <h1 class="invoice__title">{% translate 'My shop' %}</h1>
        <p class="invoice__info">
            <span class="invoice__number">{% translate 'Invoice no.' %} {{ order.id }}</span><br>
            <span class="invoice__date secondary">
                {{ order.created|date:"M d, Y" }}
            </span>
        </p>
        <h3 class="invoice__subtitle">{% translate 'Bill to' %}</h3>
        <p class="invoice__customer">
            {{ order.first_name }} {{ order.last_name }}<br>
            {{ order.email }}<br>
            {{ order.address }}<br>
            {{ order.postal_code }}, {{ order.city }}
        </p>
        <h3 class="invoice__subtitle">{% translate 'Items bought' %}</h3>
        <table class="invoice__table">
            <thead class="invoice__table-head">
                <tr class="invoice__table-row invoice__table-row--label">
                    <th class="invoice__table-cell">{% translate 'Product' %}</th>
                    <th class="invoice__table-cell">{% translate 'Price' %}</th>
                    <th class="invoice__table-cell">{% translate 'Quantity' %}</th>
                    <th class="invoice__table-cell">{% translate 'Cost' %}</th>
                </tr>
            </thead>
            <tbody class="invoice__table-body">
                {% for item in order.items.all %}
                <tr class="invoice__table-row{% cycle ' invoice__table-row--alt' '' %}">
                    <td class="invoice__table-cell">{{ item.product.name }}</td>
                    <td class="invoice__table-cell invoice__table-cell--num">${{ item.price }}</td>
                    <td class="invoice__table-cell invoice__table-cell--num">{{ item.quantity }}</td>
                    <td class="invoice__table-cell invoice__table-cell--num">{{ item.get_cost }}</td>
                </tr>
                {% endfor %}

                {% if order.coupon %}
                <tr class="invoice__table-row invoice__table-row--subtotal">
                    <td class="invoice__table-cell" colspan="3">{% translate 'Subtotal' %}</td>
                    <td class="invoice__table-cell invoice__table-cell--num">
                        ${{ order.get_total_cost_before_discount|floatformat:2 }}
                    </td>
                </tr>
                <tr class="invoice__table-row invoice__table-row--discount">
                    <td class="invoice__table-cell" colspan="3">
                        {% blocktranslate with code=order.coupon.code discount=order.discount %}
                        "{{ code }}" ({{ discount }}% off)
                        {% endblocktranslate %}
                    </td>
                    <td class="invoice__table-cell invoice__table-cell--num invoice__table-cell--neg">
                        - ${{ order.get_discount|floatformat:2 }}
                    </td>
                </tr>
                {% endif %}

                <tr class="invoice__table-row invoice__table-row--total">
                    <td class="invoice__table-cell" colspan="3">{% translate 'Total' %}</td>
                    <td class="invoice__table-cell invoice__table-cell--num invoice__table-cell--label">
                        ${{ order.get_total_cost }}
                    </td>
                </tr>
            </tbody>
        </table>

        <span
            class="invoice__status{% if order.paid %} invoice__status--paid{% else %} invoice__status--pending{% endif %}">
            {% if order.paid %}{% translate "Paid" %}{% else %}{% translate "Pending payment" %}{% endif %}
        </span>
    </div>
</body>

</html>