{% extends 'shop/base.html' %}
{% load i18n static %}

{% block title %}{% translate "Pay your order" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="order">
        <h1 class="order__title main-title">{% translate "Order summary" %}</h1>

        <table class="table table--order">
            <thead class="table__head">
                <tr class="table__row table__row--head">
                    <th class="table__cell">{% translate "Image" %}</th>
                    <th class="table__cell">{% translate "Product" %}</th>
                    <th class="table__cell">{% translate "Price" %}</th>
                    <th class="table__cell">{% translate "Quantity" %}</th>
                    <th class="table__cell">{% translate "Total" %}</th>
                </tr>
            </thead>

            <tbody class="table__body">
                {% for item in order.items.all %}
                <tr class="table__row{% cycle ' table__row--alt' '' %}">
                    <td class="table__cell" data-label="{% translate 'Image' %}">
                        <img class="table__img" src="{% if item.product.image %}{{ item.product.image.url }}
                                  {% else %}{% static 'img/no_image.png' %}{% endif %}" alt="{{ item.product.name }}">
                    </td>

                    <td class="table__cell" data-label="{% translate 'Product' %}">
                        {{ item.product.name }}
                    </td>

                    <td class="table__cell table__cell--num" data-label="{% translate 'Price' %}">
                        ${{ item.price }}
                    </td>

                    <td class="table__cell table__cell--num" data-label="{% translate 'Quantity' %}">
                        {{ item.quantity }}
                    </td>

                    <td class="table__cell table__cell--num" data-label="{% translate 'Total' %}">
                        ${{ item.get_cost }}
                    </td>
                </tr>
                {% endfor %}

                {% if order.coupon %}
                <tr class="table__row table__row--subtotal">
                    <td class="table__cell">{% translate "Subtotal" %}</td>
                    <td class="table__cell" colspan="3"></td>
                    <td class="table__cell table__cell--num">
                        ${{ order.get_total_cost_before_discount|floatformat:2 }}
                    </td>
                </tr>

                <tr class="table__row table__row--discount">
                    <td class="table__cell">
                        {% blocktranslate with code=order.coupon.code discount=order.discount %}
                        "{{ code }}" ({{ discount }}% off)
                        {% endblocktranslate %}
                    </td>
                    <td class="table__cell" colspan="3"></td>
                    <td class="table__cell table__cell--num table__cell--neg">
                        -${{ order.get_discount|floatformat:2 }}
                    </td>
                </tr>
                {% endif %}

                <tr class="table__row table__row--total">
                    <td class="table__cell" colspan="4">{% translate "Total" %}</td>
                    <td class="table__cell table__cell--num">
                        ${{ order.get_total_cost|floatformat:2 }}
                    </td>
                </tr>
            </tbody>
        </table>

        <form class="order__form" action="{% url 'payment:process' %}" method="post">
            {% csrf_token %}
            <input type="submit" class="btn order__button" value="{% translate 'Pay now' %}">
        </form>
    </div>
</div>
{% endblock %}